In [16]:
import pandas as pd
import numpy as np
import random

# Number of rows to generate
n_rows = 100

# Random fruits
fruits = random.choices(["Apple", "Pear", "Cherry"], k=n_rows)

# Random years and months
years = random.choices([2022, 2023], k=n_rows)
months = random.choices(np.arange(1,3), k=n_rows)

# Random prices and volumes
weights = np.random.rand(n_rows)
volumes = np.random.rand(n_rows)

# Create DataFrame
df = pd.DataFrame({
    'Fruit': fruits,
    'Year': years,
    'Month': months,
    'Weight': weights,
    'Volume': volumes
})

# Perform groupby, sum and unstack operations
df_grouped = df.groupby(['Fruit', 'Year', 'Month']).sum().unstack('Fruit').swaplevel(0, 1, axis=1).sort_index(axis=1)

df_grouped

Fruit          Apple              Cherry                Pear
              Volume    Weight    Volume    Weight    Volume    Weight
Year Month
2022 1      4.099501  3.602080  3.770006  3.971372  5.010473  5.064772
     2      3.639042  2.912199  0.826305  1.798613  4.525602  4.733390
2023 1      3.930849  4.083340  6.785824  6.198320  3.550348  3.276855
     2      4.033277  2.393897  4.387275  4.450059  5.147211  6.011628